In [1]:
from Virtual_Dataset import Dataset
from Visualization import Plotly_Visualization, Plotly_Visualization_result, Seaborn_Visualization, Seaborn_Visualization_result
from Train import Train
from Summary import summary
from Evaluation import predict

import numpy as np
import random

In [2]:
seed = 1500

random.seed(seed) ## contorl python random seed 
np.random.seed(seed)## contorl numpy random seed

# 0.05 : 0.95

## Make Dataset

In [3]:
#dataset = Dataset()
#X_train_dataset, y_train_dataset, X_test_dataset, y_test_dataset  = dataset.dataset(n_samples=1000, outlier_fraction=0.05)

path = "./Data/Experiment_1/"
X_train_dataset, y_train_dataset, X_test_dataset, y_test_dataset = np.load(path + "X_train_dataset.npy"), np.load(path + "y_train_dataset.npy"), np.load(path + "X_test_dataset.npy"), np.load(path + "y_test_dataset.npy")
print(len(X_train_dataset))
print(len(y_train_dataset))
print("We make a total of 100 train datasets")
print()
print(len(X_test_dataset))
print(len(y_test_dataset))
print("We make a total of 100 test datasets")
print()
print("the number of train data points: ", len(X_train_dataset[0]))
print("the number of test data points: ", len(X_test_dataset[0]))
print()
print("Number of outlier in train dataset: ", sum(y_train_dataset[0]))
print("Number of outlier in test dataset: ", sum(y_test_dataset[0]))
print()

100
100
We make a total of 100 train datasets

100
100
We make a total of 100 test datasets

the number of train data points:  800
the number of test data points:  200

Number of outlier in train dataset:  40
Number of outlier in test dataset:  10

## Train

In [ ]:
train = Train(X_train_dataset, X_test_dataset, y_train_dataset, y_test_dataset, save_path = "./Model/Experiment_1/", scoring="f_beta", beta=3, kappa=15)
train.train(n_splits=5)

## Predict

In [ ]:
result_re, result_f1, result_roc_auc = predict(n_splits=5, x_test_dataset=X_test_dataset, y_test_dataset=y_test_dataset, save_path= "./Model/Experiment_1/")

## Result

    recall score

In [6]:
result_re.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.799000    0.807000    0.788000
std      0.311236    0.302933    0.312138
min      0.000000    0.000000    0.000000
25%      0.800000    0.800000    0.800000
50%      0.900000    0.900000    0.900000
75%      1.000000    1.000000    1.000000
max      1.000000    1.000000    1.000000

     f1 score

In [7]:
result_f1.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.707627    0.681422    0.750961
std      0.101563    0.086842    0.129638
min      0.445983    0.444444    0.442897
25%      0.687027    0.659253    0.694444
50%      0.740572    0.707369    0.772707
75%      0.765166    0.738296    0.857022
max      0.876594    0.821269    0.951900

    ROC-AUC score

In [8]:
result_roc_auc.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.856579    0.851447    0.862026
std      0.159777    0.153662    0.164891
min      0.423684    0.421053    0.418421
25%      0.855921    0.850658    0.856579
50%      0.921053    0.917105    0.922368
75%      0.957895    0.948026    0.976316
max      0.984211    0.971053    0.994737

# 0.1:0.9

## Make Dataset

In [12]:
#dataset_2 = Dataset()
#X_train_dataset_2, y_train_dataset_2, X_test_dataset_2, y_test_dataset_2  = dataset_2.dataset(n_samples=1000, outlier_fraction=0.1)

path2 = "./Data/Experiment_2/"
X_train_dataset_2, y_train_dataset_2, X_test_dataset_2, y_test_dataset_2 = np.load(path2 + "X_train_dataset.npy"), np.load(path2 + "y_train_dataset.npy"), np.load(path2 + "X_test_dataset.npy"), np.load(path2 + "y_test_dataset.npy")

print(len(X_train_dataset_2))
print(len(y_train_dataset_2))
print("We make a total of 100 train datasets")
print()
print(len(X_test_dataset_2))
print(len(y_test_dataset_2))
print("We make a total of 100 test datasets")
print()
print("the number of train data points: ", len(X_train_dataset_2[0]))
print("the number of test data points: ", len(X_test_dataset_2[0]))
print()
print("Number of outlier in train dataset: ", sum(y_train_dataset_2[0]))
print("Number of outlier in test dataset: ", sum(y_test_dataset_2[0]))
print()

100
100
We make a total of 100 train datasets

100
100
We make a total of 100 test datasets

the number of train data points:  800
the number of test data points:  200

Number of outlier in train dataset:  80
Number of outlier in test dataset:  20

## Train

In [ ]:
train_2 = Train(X_train_dataset_2, X_test_dataset_2, y_train_dataset_2, y_test_dataset_2, save_path = "./Model/Experiment_2/", scoring="f_beta", beta=3, kappa=15)
train_2.train(n_splits=5)

## Predict

In [ ]:
result_re_2, result_f1_2, result_roc_auc_2 = predict(n_splits=5, x_test_dataset=X_test_dataset_2, y_test_dataset=y_test_dataset_2, save_path= "./Model/Experiment_2/")

## Result

    recall score

In [15]:
result_re_2.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.803500    0.804000    0.794500
std      0.300021    0.303655    0.300328
min      0.050000    0.050000    0.050000
25%      0.800000    0.800000    0.800000
50%      0.950000    0.950000    0.950000
75%      1.000000    1.000000    1.000000
max      1.000000    1.000000    1.000000

    f1 score

In [16]:
result_f1_2.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.765593    0.748848    0.792330
std      0.120740    0.111604    0.138755
min      0.449407    0.467944    0.467944
25%      0.749551    0.735781    0.756589
50%      0.804779    0.791242    0.841897
75%      0.841897    0.819088    0.881908
max      0.937402    0.876398    0.986412

    roc_auc score

In [17]:
result_roc_auc_2.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.853611    0.848167    0.858778
std      0.157693    0.155292    0.160705
min      0.441667    0.466667    0.466667
25%      0.834028    0.836111    0.837500
50%      0.933333    0.922222    0.933333
75%      0.952778    0.944444    0.959028
max      0.986111    0.969444    0.997222

# 0.2:0.8

## Make Dataset

In [21]:
#dataset_3 = Dataset()
#X_train_dataset_3, y_train_dataset_3, X_test_dataset_3, y_test_dataset_3  = dataset_3.dataset(n_samples=1000, outlier_fraction=0.2)

path3 = "./Data/Experiment_3/"
X_train_dataset_3, y_train_dataset_3, X_test_dataset_3, y_test_dataset_3 = np.load(path3 + "X_train_dataset.npy"), np.load(path3 + "y_train_dataset.npy"), np.load(path3 + "X_test_dataset.npy"), np.load(path3 + "y_test_dataset.npy")


print(len(X_train_dataset_3))
print(len(y_train_dataset_3))
print("We make a total of 100 train datasets")
print()
print(len(X_test_dataset_3))
print(len(y_test_dataset_3))
print("We make a total of 100 test datasets")
print()
print("the number of train data points: ", len(X_train_dataset_3[0]))
print("the number of test data points: ", len(X_test_dataset_3[0]))
print()
print("Number of outlier in train dataset: ", sum(y_train_dataset_3[0]))
print("Number of outlier in test dataset: ", sum(y_test_dataset_3[0]))
print()

100
100
We make a total of 100 train datasets

100
100
We make a total of 100 test datasets

the number of train data points:  800
the number of test data points:  200

Number of outlier in train dataset:  160
Number of outlier in test dataset:  40

## Train

In [ ]:
train_3 = Train(X_train_dataset_3, X_test_dataset_3, y_train_dataset_3, y_test_dataset_3, save_path = "./Model/Experiment_3/", scoring="f_beta", beta=3, kappa=15)
train_3.train(n_splits=5)

## Predict

In [ ]:
result_re_3, result_f1_3, result_roc_auc_3 = predict(n_splits=5, x_test_dataset=X_test_dataset_3, y_test_dataset=y_test_dataset_3, save_path= "./Model/Experiment_3/")

## Result

     recall score

In [24]:
result_re_3.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.852750    0.855750    0.835500
std      0.248934    0.252759    0.265603
min      0.050000    0.075000    0.025000
25%      0.875000    0.875000    0.850000
50%      0.950000    0.975000    0.950000
75%      0.981250    1.000000    0.975000
max      1.000000    1.000000    1.000000

    f1 score

In [25]:
result_f1_3.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.842454    0.830228    0.856213
std      0.120684    0.115074    0.133017
min      0.448716    0.468059    0.447392
25%      0.848844    0.832209    0.855806
50%      0.879638    0.865767    0.906801
75%      0.906066    0.893311    0.928315
max      0.969861    0.931588    0.977196

    ROC AUC score

In [26]:
result_roc_auc_3.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.879531    0.874594    0.882094
std      0.133442    0.130928    0.141064
min      0.465625    0.481250    0.471875
25%      0.896094    0.890625    0.892969
50%      0.931250    0.926562    0.937500
75%      0.950000    0.943750    0.962500
max      0.987500    0.968750    0.990625

# 0.3:0.7

## Make Datast

In [30]:
#dataset_4 = Dataset()
#X_train_dataset_4, y_train_dataset_4, X_test_dataset_4, y_test_dataset_4  = dataset_4.dataset(n_samples=1000, outlier_fraction=0.3)

path4 = "./Data/Experiment_4/"
X_train_dataset_4, y_train_dataset_4, X_test_dataset_4, y_test_dataset_4 = np.load(path4 + "X_train_dataset.npy"), np.load(path4 + "y_train_dataset.npy"), np.load(path4 + "X_test_dataset.npy"), np.load(path4 + "y_test_dataset.npy")

print(len(X_train_dataset_4))
print(len(y_train_dataset_4))
print("We make a total of 100 train datasets")
print()
print(len(X_test_dataset_4))
print(len(y_test_dataset_4))
print("We make a total of 100 test datasets")
print()
print("the number of train data points: ", len(X_train_dataset_4[0]))
print("the number of test data points: ", len(X_test_dataset_4[0]))
print()
print("Number of outlier in train dataset: ", sum(y_train_dataset_4[0]))
print("Number of outlier in test dataset: ", sum(y_test_dataset_4[0]))
print()

100
100
We make a total of 100 train datasets

100
100
We make a total of 100 test datasets

the number of train data points:  800
the number of test data points:  200

Number of outlier in train dataset:  240
Number of outlier in test dataset:  60

## Train

In [ ]:
train_4 = Train(X_train_dataset_4, X_test_dataset_4, y_train_dataset_4, y_test_dataset_4, save_path = "./Model/Experiment_4/", scoring="f_beta", beta=3, kappa=15)
train_4.train(n_splits=5)

## Predict

In [ ]:
result_re_4, result_f1_4, result_roc_auc_4 = predict(n_splits=5, x_test_dataset=X_test_dataset_4, y_test_dataset=y_test_dataset_4, save_path= "./Model/Experiment_4/")

## Result

    recall score

In [33]:
result_re_4.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.843833    0.850500    0.840667
std      0.240144    0.235577    0.227689
min      0.133333    0.116667    0.166667
25%      0.800000    0.816667    0.800000
50%      0.950000    0.950000    0.933333
75%      0.983333    0.983333    0.983333
max      1.000000    1.000000    1.000000

    f1 score

In [34]:
result_f1_4.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.857972    0.849934    0.871309
std      0.122655    0.115952    0.123447
min      0.463580    0.469655    0.520285
25%      0.850869    0.840903    0.848546
50%      0.899733    0.889368    0.918170
75%      0.925009    0.910386    0.947032
max      0.970909    0.959620    0.994076

    ROC AUC score

In [35]:
result_roc_auc_4.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.873595    0.869429    0.880726
std      0.126612    0.122029    0.126169
min      0.480952    0.494048    0.526190
25%      0.848214    0.849405    0.850893
50%      0.924405    0.919643    0.930952
75%      0.946726    0.939286    0.957143
max      0.982143    0.975000    0.996429

# 0.4:0.6

## Make Dataset

In [39]:
#dataset_5 = Dataset()
#X_train_dataset_5, y_train_dataset_5, X_test_dataset_5, y_test_dataset_5  = dataset_5.dataset(n_samples=1000, outlier_fraction=0.4)

path5 = "./Data/Experiment_5/"
X_train_dataset_5, y_train_dataset_5, X_test_dataset_5, y_test_dataset_5 = np.load(path5 + "X_train_dataset.npy"), np.load(path5 + "y_train_dataset.npy"), np.load(path5 + "X_test_dataset.npy"), np.load(path5 + "y_test_dataset.npy")


print(len(X_train_dataset_5))
print(len(y_train_dataset_5))
print("We make a total of 100 train datasets")
print()
print(len(X_test_dataset_5))
print(len(y_test_dataset_5))
print("We make a total of 100 test datasets")
print()
print("the number of train data points: ", len(X_train_dataset_5[0]))
print("the number of test data points: ", len(X_test_dataset_5[0]))
print()
print("Number of outlier in train dataset: ", sum(y_train_dataset_5[0]))
print("Number of outlier in test dataset: ", sum(y_test_dataset_5[0]))
print()

100
100
We make a total of 100 train datasets

100
100
We make a total of 100 test datasets

the number of train data points:  800
the number of test data points:  200

Number of outlier in train dataset:  320
Number of outlier in test dataset:  80

## Train

In [ ]:
train_5 = Train(X_train_dataset_5, X_test_dataset_5, y_train_dataset_5, y_test_dataset_5, save_path = "./Model/Experiment_5/", scoring="f_beta", beta=3, kappa=15)
train_5.train(n_splits=5)

## Predict

In [ ]:
result_re_5, result_f1_5, result_roc_auc_5 = predict(n_splits=5, x_test_dataset=X_test_dataset_5, y_test_dataset=y_test_dataset_5, save_path= "./Model/Experiment_5/")

## Result

     recall score

In [42]:
result_re_5.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.851500    0.850750    0.847625
std      0.228392    0.235507    0.224246
min      0.175000    0.187500    0.200000
25%      0.846875    0.837500    0.843750
50%      0.950000    0.950000    0.943750
75%      0.975000    0.978125    0.975000
max      1.000000    1.000000    1.000000

    f1 score

In [43]:
result_f1_5.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.868885    0.861400    0.879324
std      0.129695    0.128881    0.133865
min      0.492643    0.481312    0.507466
25%      0.879350    0.866916    0.878923
50%      0.917163    0.911988    0.931999
75%      0.943262    0.933236    0.953489
max      0.979330    0.969107    0.989625

    ROC-AUC score

In [44]:
result_roc_auc_5.describe()

             grid      random    bayesian
count  100.000000  100.000000  100.000000
mean     0.875375    0.869750    0.883146
std      0.127126    0.125616    0.130760
min      0.525000    0.510417    0.527083
25%      0.881250    0.864062    0.871875
50%      0.923958    0.919792    0.934375
75%      0.947917    0.941667    0.956771
max      0.983333    0.975000    0.991667

-----

import numpy as np
######  Dataset_1 ######
np.save('./Data/Experiment_1/X_train_dataset', X_train_dataset)
np.save('./Data/Experiment_1/y_train_dataset', y_train_dataset)
np.save('./Data/Experiment_1/X_test_dataset', X_test_dataset)
np.save('./Data/Experiment_1/y_test_dataset', y_test_dataset)

######  Dataset_2 ######
np.save('./Data/Experiment_2/X_train_dataset', X_train_dataset_2)
np.save('./Data/Experiment_2/y_train_dataset', y_train_dataset_2)
np.save('./Data/Experiment_2/X_test_dataset', X_test_dataset_2)
np.save('./Data/Experiment_2/y_test_dataset', y_test_dataset_2)

######  Dataset_3 ######
np.save('./Data/Experiment_3/X_train_dataset', X_train_dataset_3)
np.save('./Data/Experiment_3/y_train_dataset', y_train_dataset_3)
np.save('./Data/Experiment_3/X_test_dataset', X_test_dataset_3)
np.save('./Data/Experiment_3/y_test_dataset', y_test_dataset_3)

###### Dataset_4 ######
np.save('./Data/Experiment_4/X_train_dataset', X_train_dataset_4)
np.save('./Data/Experiment_4/y_train_dataset', y_train_dataset_4)
np.save('./Data/Experiment_4/X_test_dataset', X_test_dataset_4)
np.save('./Data/Experiment_4/y_test_dataset', y_test_dataset_4)

###### Dataset_5 ######
np.save('./Data/Experiment_5/X_train_dataset', X_train_dataset_5)
np.save('./Data/Experiment_5/y_train_dataset', y_train_dataset_5)
np.save('./Data/Experiment_5/X_test_dataset', X_test_dataset_5)
np.save('./Data/Experiment_5/y_test_dataset', y_test_dataset_5)